:root {
  /* Container */
  --container-width: 1440px;
  --container-padding: 0 16px;

  /* Width */
  --width-small: 375px;
  --width-modal: 520px;
  --width-medium: 1020px;
  --width-large: 1440px;
  --width-xlarge: 1800px;

  /* Colors */
  --text-color: #080808;
  --background-color: #ffffff;
  --primary-color: #309db6;
  --primary-color-hover: #1e788d;
  --error-color: #c53663;
  --success-color: #2daf63;
  --background-gradient: linear-gradient(0deg, rgb(215, 244, 244) 0%, rgba(219,255,244,1) 33%, rgba(221,255,255,1) 66%, rgba(219,255,244,1) 100%);

  /* Fonts */
  --font-lato: 'Lato', sans-serif;
  --font-mono: 'Roboto Mono', monospace;

  /* Font Weights */
  --font-thin: 300;
  --font-regular: 400;
  --font-bold: 700;
  --font-heavy: 900;
}
